.e2_248 { 
	overflow:hidden;
}
.e2_248 { 
	background-color:rgba(255, 255, 255, 1);
	width:1840px;
	height:3000px;
	position:absolute;
}
.e7_131 { 
	background-color:rgba(0, 0, 0, 1);
	width:1840px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_132 { 
	width:280px;
	height:104px;
	position:absolute;
	left:23px;
	top:5px;
}
.e7_133 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:75px;
	position:absolute;
	left:305px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_134 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:75px;
	position:absolute;
	left:465px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_135 { 
	color:rgba(255, 255, 255, 1);
	width:156px;
	height:75px;
	position:absolute;
	left:610px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_136 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:75px;
	position:absolute;
	left:790px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_137 { 
	width:190px;
	height:75px;
	position:absolute;
	left:1525px;
	top:54px;
}
.ei7_137_5_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:190px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei7_137_5_57 { 
	color:rgba(0, 0, 0, 1);
	width:115.35713958740234px;
	height:56.70731735229492px;
	position:absolute;
	left:37px;
	top:9px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_138 { 
	width:190px;
	height:75px;
	position:absolute;
	left:1311px;
	top:54px;
}
.ei7_138_5_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:190px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei7_138_5_60 { 
	color:rgba(0, 0, 0, 1);
	width:142.23463439941406px;
	height:55px;
	position:absolute;
	left:24px;
	top:10px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e8_53 { 
	width:200px;
	height:150px;
	position:absolute;
	left:20px;
	top:0px;
	background-image:url(images/olo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_144 { 
	background-color:rgba(0, 0, 0, 1);
	width:1840px;
	height:264px;
	position:absolute;
	left:0px;
	top:2736px;
}
.e7_146 { 
	color:rgba(255, 255, 255, 1);
	width:371px;
	height:24px;
	position:absolute;
	left:1385px;
	top:132px;
	font-family:Montserrat;
	text-align:right;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_149 { 
	width:280px;
	height:200px;
	position:absolute;
	left:85px;
	top:20px;
	background-image:url(images/olo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_53 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:24px;
	position:absolute;
	left:479px;
	top:131px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_54 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:24px;
	position:absolute;
	left:806px;
	top:132px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_55 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:1050px;
	top:130px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_57 { 
	width:1625px;
	height:907px;
	position:absolute;
	left:101px;
	top:237px;
	background-image:url(images/hd_wallpaper_1758197_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_102 { 
	width:219px;
	height:59px;
	position:absolute;
	left:261px;
	top:754px;
}
.e7_128 { 
	background-color:rgba(23.37500050663948, 23.37500050663948, 23.37500050663948, 1);
	width:219px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e7_129 { 
	color:rgba(255, 255, 255, 1);
	width:144.88973999023438px;
	height:24px;
	position:absolute;
	left:37.47149658203125px;
	top:18px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_59 { 
	opacity:0.8999999761581421;
	width:369px;
	height:195px;
	position:absolute;
	left:261px;
	top:855px;
	background-image:url(images/lighthouse_1872998_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_60 { 
	color:rgba(255, 255, 255, 1);
	width:511px;
	height:168px;
	position:absolute;
	left:267px;
	top:570px;
	font-family:Markazi Text;
	text-align:left;
	font-size:56px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1637px;
	height:1069px;
	position:absolute;
	left:101px;
	top:1611px;
}
.e7_62 { 
	color:rgba(0, 0, 0, 1);
	width:963px;
	height:144px;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Markazi Text;
	text-align:left;
	font-size:80px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_63 { 
	width:686px;
	height:222px;
	position:absolute;
	left:80px;
	top:324px;
}
.e7_64 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_65 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_66 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei7_66_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei7_66_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e7_67 { 
	width:686px;
	height:222px;
	position:absolute;
	left:891px;
	top:324px;
}
.e7_68 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_69 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_70 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei7_70_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei7_70_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e7_71 { 
	width:686px;
	height:222px;
	position:absolute;
	left:80px;
	top:606px;
}
.e7_72 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_73 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_74 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei7_74_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei7_74_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e7_75 { 
	width:686px;
	height:222px;
	position:absolute;
	left:891px;
	top:606px;
}
.e7_76 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_77 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_78 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei7_78_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei7_78_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e7_85 { 
	width:411px;
	height:85px;
	position:absolute;
	left:247px;
	top:1404px;
}
.e7_86 { 
	color:rgba(0, 0, 0, 1);
	width:411px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Markazi Text;
	text-align:left;
	font-size:80px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_87 { 
	width:798px;
	height:446px;
	position:absolute;
	left:930px;
	top:1224px;
	background-image:url(images/sunrise_1014712_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
