.e7_150 { 
	background-color:rgba(255, 255, 255, 1);
	width:1840px;
	height:3000px;
	position:absolute;
}
.e7_256 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:1842px;
	height:559px;
	position:absolute;
	left:0px;
	top:181px;
}
.e9_65 { 
	background-color:rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
	width:911px;
	height:43px;
	position:absolute;
	left:929px;
	top:2693px;
}
.e13_87 { 
	background-color:rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
	width:229px;
	height:369px;
	position:absolute;
	left:-3px;
	top:181px;
}
.e7_151 { 
	background-color:rgba(0, 0, 0, 1);
	width:1840px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_152 { 
	width:280px;
	height:104px;
	position:absolute;
	left:23px;
	top:5px;
}
.e7_153 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:75px;
	position:absolute;
	left:305px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_154 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:75px;
	position:absolute;
	left:465px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_155 { 
	color:rgba(255, 255, 255, 1);
	width:156px;
	height:75px;
	position:absolute;
	left:610px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_156 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:75px;
	position:absolute;
	left:790px;
	top:54px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_157 { 
	width:190px;
	height:75px;
	position:absolute;
	left:1525px;
	top:54px;
}
.ei7_157_5_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:190px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei7_157_5_57 { 
	color:rgba(0, 0, 0, 1);
	width:115.35713958740234px;
	height:56.70731735229492px;
	position:absolute;
	left:37px;
	top:9px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e7_158 { 
	width:190px;
	height:75px;
	position:absolute;
	left:1311px;
	top:54px;
}
.ei7_158_5_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:190px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei7_158_5_60 { 
	color:rgba(0, 0, 0, 1);
	width:142.23463439941406px;
	height:55px;
	position:absolute;
	left:24px;
	top:10px;
	font-family:Markazi Text;
	text-align:center;
	font-size:38px;
	letter-spacing:-1.5;
}
.e8_52 { 
	width:200px;
	height:150px;
	position:absolute;
	left:23px;
	top:0px;
	background-image:url(images/olo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_250 { 
	width:488px;
	height:583px;
	position:absolute;
	left:151px;
	top:224px;
	background-image:url(images/6439010033_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_59 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:97px;
	position:absolute;
	left:809px;
	top:281px;
	font-family:Markazi Text;
	text-align:center;
	font-size:116px;
	letter-spacing:-1.5;
}
.e9_66 { 
	color:rgba(0, 0, 0, 1);
	width:547px;
	height:120px;
	position:absolute;
	left:144px;
	top:900px;
	font-family:Markazi Text;
	text-align:left;
	font-size:100px;
	letter-spacing:-1.5;
}
.e13_54 { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:60px;
	position:absolute;
	left:151px;
	top:1090px;
	font-family:Markazi Text;
	text-align:left;
	font-size:50px;
	letter-spacing:-1.5;
}
.e13_53 { 
	color:rgba(0, 0, 0, 1);
	width:368px;
	height:120px;
	position:absolute;
	left:144px;
	top:976px;
	font-family:Markazi Text;
	text-align:left;
	font-size:100px;
	letter-spacing:-1.5;
}
.e7_257 { 
	background-color:rgba(0, 0, 0, 1);
	width:1840px;
	height:264px;
	position:absolute;
	left:0px;
	top:2736px;
}
.e7_258 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:24px;
	position:absolute;
	left:471px;
	top:131px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_259 { 
	color:rgba(255, 255, 255, 1);
	width:371px;
	height:24px;
	position:absolute;
	left:1385px;
	top:132px;
	font-family:Montserrat;
	text-align:right;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_260 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:24px;
	position:absolute;
	left:798px;
	top:132px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_261 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:1042px;
	top:130px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e7_262 { 
	width:280px;
	height:200px;
	position:absolute;
	left:85px;
	top:20px;
	background-image:url(images/olo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_253 { 
	transform: rotate(-2.0611398252598454e-10deg);
	width:880px;
	height:0px;
	position:absolute;
	left:822px;
	top:369px;
}
.e7_253 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e17_52 { 
	width:715px;
	height:381px;
	position:absolute;
	left:74px;
	top:1274px;
}
.e7_251 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Markazi Text;
	text-align:center;
	font-size:100px;
	letter-spacing:-1.5;
}
.e9_56 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:48px;
	position:absolute;
	left:118px;
	top:217px;
	font-family:Markazi Text;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
}
.e9_57 { 
	color:rgba(0, 0, 0, 1);
	width:597px;
	height:48px;
	position:absolute;
	left:118px;
	top:320px;
	font-family:Markazi Text;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
}
.e9_55 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:48px;
	position:absolute;
	left:118px;
	top:114px;
	font-family:Markazi Text;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
}
.e9_52 { 
	width:75px;
	height:75px;
	position:absolute;
	left:20px;
	top:100px;
	background-image:url(images/1490129331_rounded07_82197_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_52 { 
	transform: rotate(0.1741507672197606deg);
	width:658.0030517578125px;
	height:0px;
	position:absolute;
	left:20px;
	top:71px;
}
.e13_52 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e9_61 { 
	width:75px;
	height:75px;
	position:absolute;
	left:20px;
	top:203px;
}
.e9_60 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:48px;
	position:absolute;
	left:8px;
	top:14px;
}
.e9_54 { 
	width:75px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/phone_symbol_of_an_auricular_inside_a_circle_icon_icons_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_64 { 
	width:75px;
	height:75px;
	position:absolute;
	left:20px;
	top:306px;
}
.e9_63 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:52px;
	position:absolute;
	left:8px;
	top:10px;
}
.e9_53 { 
	width:75px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/gps_navigation_pin_locate_location_icon_icons_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_58 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:62px;
	position:absolute;
	left:784px;
	top:931px;
	font-family:Markazi Text;
	text-align:center;
	font-size:100px;
	letter-spacing:-1.5;
}
.e13_55 { 
	transform: rotate(0.09152673148847545deg);
	width:666.000732421875px;
	height:0px;
	position:absolute;
	left:891px;
	top:1003px;
}
.e13_55 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e13_57 { 
	color:rgba(0, 0, 0, 1);
	width:541px;
	height:66px;
	position:absolute;
	left:950px;
	top:1027px;
	font-family:Markazi Text;
	text-align:left;
	font-size:35px;
	letter-spacing:-1.5;
}
.e13_58 { 
	color:rgba(0, 0, 0, 1);
	width:594px;
	height:104px;
	position:absolute;
	left:953px;
	top:1084px;
	font-family:Markazi Text;
	text-align:left;
	font-size:35px;
	letter-spacing:-1.5;
}
.e13_59 { 
	color:rgba(0, 0, 0, 1);
	width:431px;
	height:97px;
	position:absolute;
	left:953px;
	top:1169px;
	font-family:Markazi Text;
	text-align:left;
	font-size:35px;
	letter-spacing:-1.5;
}
.e13_60 { 
	color:rgba(0, 0, 0, 1);
	width:644px;
	height:62px;
	position:absolute;
	left:950px;
	top:1273px;
	font-family:Markazi Text;
	text-align:left;
	font-size:35px;
	letter-spacing:-1.5;
}
.e13_62 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:39px;
	position:absolute;
	left:894px;
	top:1004px;
	font-family:Markazi Text;
	text-align:left;
	font-size:200px;
	letter-spacing:-1.5;
}
.e13_63 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:39px;
	position:absolute;
	left:894px;
	top:1079px;
	font-family:Markazi Text;
	text-align:left;
	font-size:200px;
	letter-spacing:-1.5;
}
.e13_64 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:39px;
	position:absolute;
	left:894px;
	top:1160px;
	font-family:Markazi Text;
	text-align:left;
	font-size:200px;
	letter-spacing:-1.5;
}
.e13_65 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:39px;
	position:absolute;
	left:893px;
	top:1243px;
	font-family:Markazi Text;
	text-align:left;
	font-size:200px;
	letter-spacing:-1.5;
}
.e13_66 { 
	color:rgba(0, 0, 0, 1);
	width:438px;
	height:182px;
	position:absolute;
	left:840px;
	top:357px;
	font-family:Markazi Text;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
}
.e13_88 { 
	width:1097px;
	height:831px;
	position:absolute;
	left:77px;
	top:1776px;
}
.e7_265 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:86px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Markazi Text;
	text-align:center;
	font-size:100px;
	letter-spacing:-1.5;
}
.e13_56 { 
	transform: rotate(-1.3229853052081975e-18deg);
	width:771px;
	height:0px;
	position:absolute;
	left:13px;
	top:84px;
}
.e13_56 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e13_83 { 
	width:613px;
	height:115px;
	position:absolute;
	left:209px;
	top:320px;
}
.e7_252 { 
	color:rgba(0, 0, 0, 1);
	width:613px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Markazi Text;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
}
.e13_84 { 
	width:817px;
	height:97px;
	position:absolute;
	left:209px;
	top:491px;
}
.e13_67 { 
	color:rgba(0, 0, 0, 1);
	width:817px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Markazi Text;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
}
.e13_85 { 
	width:888px;
	height:97px;
	position:absolute;
	left:209px;
	top:691px;
}
.e13_68 { 
	color:rgba(0, 0, 0, 1);
	width:888px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Markazi Text;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
}
.e13_82 { 
	width:174px;
	height:97px;
	position:absolute;
	left:209px;
	top:146px;
}
.e13_73 { 
	color:rgba(0, 0, 0, 1);
	width:174px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Markazi Text;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
}
.e13_76 { 
	width:176px;
	height:176px;
	position:absolute;
	left:8px;
	top:107px;
	background-image:url(images/dara_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_77 { 
	width:192px;
	height:150px;
	position:absolute;
	left:0px;
	top:303px;
	background-image:url(images/varee_chiangmai_school_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79 { 
	width:106px;
	height:169px;
	position:absolute;
	left:43px;
	top:453px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_81 { 
	width:180px;
	height:182px;
	position:absolute;
	left:8px;
	top:649px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
